h1 {
  color: green;
  font-style: italic;
}

label {
  display: block;
  margin-bottom: 20px;
}

a {
  margin: 16px;
}

li.person {
  margin-bottom: 30px;
}

.person {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.panetitle {
  font-weight: bold;
    flex: 1 1 50%;
  max-width: 50%;
}

#parser-pane {
  flex: 1 1 50%;
  max-width: 50%;
    height: 29vh;
  max-height: 29vh;
}

#editor-pane {
  flex: 1 1 50%;
  max-width: 50%;
    height: 29vh;
  max-height: 29vh;
}

#node-pane {
    flex: 1 1 100%;
      height: 69vh;
  max-height: 69vh;
}

.partnership-node {
  height: 1px;
  width: 1px;
  background-color: blue;
}